body{
  background-color: rgba(0, 0, 0, 0.589);
}
.list-items{
  display:flex;
  gap:20%;
  margin-left: 10%;
  color:#000;
}

.list-item a{
  color:#000;
  text-decoration: none;
}

.categories{
  color:whitesmoke;
  text-decoration: none;
  margin-left: 5%;
  margin-top:7%;
}
.link{
  color:rgb(255, 163, 110);
  text-decoration: none;
}
.list{
  display:flex;
  margin-top:1%;
  margin-left:10%;
}

.productPage{
  margin-top:4%;
  margin-left:10%;
}
.cards{
  display:flex;
  flex-wrap: wrap;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: rgb(37, 127, 150);
  margin-top: 20px;
  border-radius: 20px;
}

.price {
  color: rgb(92, 18, 18);
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.fas{
  margin-top:15px;
  margin-left:-20px;
  font-size:36px;
  z-index:-1;
}
.cart-count{
  height: 20px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid red;
  float:right;
  margin-right:100px;
  margin-top:-40px;
  background-color: red;
}
.cartcount{
  margin-top:-53px;
  margin-left:3px;
  color:white
}

.search{
  margin-left:40px;
}